extends layout

block body
	section.container
		section.row
			article.col-md-9
				h1 ރައީސް މައުމޫން އަވަހާރަވެއްޖެ
				span.circle
				span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
				ul.article-quick-updates.list-unstyled
					li
						span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
					li
						span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
					li
						span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
				img.img-responsive.full-scale(src="http://f1.haveeru.com.mv/photos/2011/09/0_1315221592untitled11_news.jpg")
				hr
		
