doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title= title
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-rtl/dist/css/bootstrap-rtl.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/jquery/dist/jquery.min.js')
		//script setTimeout(function(){window.location = window.location},1000);
	body
		header.container
			section.row
				section.col-md-12
					h1 މައި އޮންލައިން
		section.container
			section.row
				section.col-md-5
					section.news-el.news-el-1
						h3 ތިން ދާއިރާއެއްގެ އިންތިޚާބު ބާތިލްކުރަން ހުށަހެޅި މައްސަލަތައް ބަލައެއް ނުގަތް
						span.label.label-success ވަގުތުން
						img.img-responsive(src="http://www.mvyouth.mv/live/wp-content/uploads/cache/2014/04/1001171_513189108734572_1642719502_n2/1343753063.jpg")
				section.col-md-3
					section.news-el.news-el-2
						h3 ތިން ދާއިރާއެއްގެ އިންތިޚާބު ބާތިލްކުރަން ހުށަހެޅި މައްސަލަތައް ބަލައެއް ނުގަތް
						img.img-responsive(src="http://www.mvyouth.mv/live/wp-content/uploads/cache/2014/03/IMG_11961/2253854227.jpg")
					section.news-el.news-el-2
						h3 ތިން ދާއިރާއެއްގެ އިންތިޚާބު ބާތިލްކުރަން ހުށަހެޅި މައްސަލަތައް ބަލައެއް ނުގަތް
						img.img-responsive(src="http://www.mvyouth.mv/live/wp-content/uploads/cache/2014/03/IMG_11961/2253854227.jpg")
				section.col-md-4
					section.advertisement.ad-1
						div.adcapt އިސްތިހާރު
			hr
			section.row
				section.col-md-8
					section.row
						section.col-md-6
							h3 ކަނޑު އަޑީގައި ބޭނުންކުރާ ދެ ރޮބަޓް އެމްއެންޑީއެފަށް ހޯދަނީ
							img.img-responsive(src="http://f1.haveeru.com.mv/photos/2013/12/0_138674307311_news.jpg")
							p ޑައިވިނަށް ގޮސް އުޅެނިކޮށް މަރުވާ މީހުންގެ ހަށިގަނޑު ނެގުމަށް ހާއްސަ ދެ ރޮބަޓެއް މި އަހަރު ތެރޭގައި އެމްއެންޑީއެފަށް ހޯދުމަށް ނިންމާފައިވާ ކަމަށް ޑިފެންސް މިނިސްޓަރު މުހައްމަދު ނާޒިމް މިއަދު ވިދާޅުވެއްޖެ އެވެ. 

						section.col-md-6
							h3 ކަނޑު އަޑީގައި ބޭނުންކުރާ ދެ ރޮބަޓް އެމްއެންޑީއެފަށް ހޯދަނީ
							img.img-responsive(src="http://f1.haveeru.com.mv/photos/2013/12/0_138674307311_news.jpg")
							p ޑައިވިނަށް ގޮސް އުޅެނިކޮށް މަރުވާ މީހުންގެ ހަށިގަނޑު ނެގުމަށް ހާއްސަ ދެ ރޮބަޓެއް މި އަހަރު ތެރޭގައި އެމްއެންޑީއެފަށް ހޯދުމަށް ނިންމާފައިވާ ކަމަށް ޑިފެންސް މިނިސްޓަރު މުހައްމަދު ނާޒިމް މިއަދު ވިދާޅުވެއްޖެ އެވެ. 

						section.col-md-6
							h3 ކަނޑު އަޑީގައި ބޭނުންކުރާ ދެ ރޮބަޓް އެމްއެންޑީއެފަށް ހޯދަނީ
							img.img-responsive(src="http://f1.haveeru.com.mv/photos/2013/12/0_138674307311_news.jpg")
							p ޑައިވިނަށް ގޮސް އުޅެނިކޮށް މަރުވާ މީހުންގެ ހަށިގަނޑު ނެގުމަށް ހާއްސަ ދެ ރޮބަޓެއް މި އަހަރު ތެރޭގައި އެމްއެންޑީއެފަށް ހޯދުމަށް ނިންމާފައިވާ ކަމަށް ޑިފެންސް މިނިސްޓަރު މުހައްމަދު ނާޒިމް މިއަދު ވިދާޅުވެއްޖެ އެވެ. 

						section.col-md-6
							h3 ކަނޑު އަޑީގައި ބޭނުންކުރާ ދެ ރޮބަޓް އެމްއެންޑީއެފަށް ހޯދަނީ
							img.img-responsive(src="http://f1.haveeru.com.mv/photos/2013/12/0_138674307311_news.jpg")
							p ޑައިވިނަށް ގޮސް އުޅެނިކޮށް މަރުވާ މީހުންގެ ހަށިގަނޑު ނެގުމަށް ހާއްސަ ދެ ރޮބަޓެއް މި އަހަރު ތެރޭގައި އެމްއެންޑީއެފަށް ހޯދުމަށް ނިންމާފައިވާ ކަމަށް ޑިފެންސް މިނިސްޓަރު މުހައްމަދު ނާޒިމް މިއަދު ވިދާޅުވެއްޖެ އެވެ. 


