doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title= title
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-rtl/dist/css/bootstrap-rtl.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/jquery/dist/jquery.min.js')
		//script setTimeout(function(){window.location = window.location},1000);
		script(src='/loader/loader.js')
	body
		header
			section.container
				section.pull-left ލޮގިން
				section.row
					section.col-md-4
						h1 cniawlcnoa iawm 

						ul#menu.list-inline.list-unstyled
							li
								a(href="") ޚަބަރު
							li
								a(href="") ރިޕޯޓް
							li
								a(href="") ކުޅިވަރު
							li
								a(href="") ސޯޝަލް މީޑިއާ
		block body
