.news-el
	overflow hidden
	position relative
	.label
		position absolute
	h3
		width 100%
		color white
		position absolute
		bottom 0 
		background rgba(0,0,0,.91)
		padding 10px 4px
		margin-bottom 0
		line-height 30px
		
.news-el-1
	height 305px
.news-el-2
	height 150px
	margin-bottom 5px
	h3
		font-size 15px
		line-height 20px		
	img
		//height 200px
		width 100%
.advertisement
	background #f0f0f0
	.adcapt
		padding 10px
.ad-1
	height 305px
